<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <appender name="DEBUG_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
  	<file>logs/taskmanagementsystem-application.log</file>
  	<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
  		<fileNamePattern>logs/taskmanagementsystem-application-%d{yyyy-MM-dd}.log</fileNamePattern>
  		<maxHistory>30</maxHistory>
  	</rollingPolicy>
  	<encoder>
  		<pattern>%d{yyyy-MM-dd HH:mm:ss.SS} [%thread] %-5level %logger{36} - %msg%n</pattern>
  	</encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="FILE" />
    <appender-ref ref="DEBUG_CONSOLE" />
  </root>
</configuration>